---
import { initI18n, type Pages } from "../lib/i18n/index";

import "../styles/global.css";
import "../lib/strings";

import { Seo } from "astro-seo-meta";
import Button from "../components/Button.astro";
import { cn } from "../lib/utils";

interface Props {
    className?: string;
    page: Pages;
    title?: string;
    description?: string;
    image?: string;
}

const { pathname } = Astro.url;
const { locale = "fr" } = Astro.params;
const { className, page, title, description, image } = Astro.props;

const { t } = initI18n(Astro.params);
const localizedPath = (currentLocale: string) => {
    const newLocale = currentLocale === "fr" ? "en" : "fr";
    return pathname.replace(currentLocale, newLocale);
};
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />

        <Seo
            title={t(($) => $.global.title, { title: title || t(($) => $[page].title) })}
            description={description || t(($) => $[page].description)}
            facebook={{
                image: new URL(image || t(($) => $.global.image), "https://unimat45.github.io/").toString(),
                url: "https://unimat45.github.io/",
                type: "website",
            }}
            twitter={{
                image: new URL(image || t(($) => $.global.image), "https://unimat45.github.io/").toString(),
                site: "https://unimat45.github.io/",
                card: "summary",
            }}
        />
    </head>
    <body
        class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-linear-to-br from-gray-900 via-black to-gray-900 text-gray-300"
    >
        <header class="border-b border-cyan-500/20 bg-black/90 p-4 backdrop-blur-md">
            <nav class="mx-auto max-w-7xl">
                <ul class="flex gap-2">
                    <li>
                        <a href={`/${locale}/`}>
                            <Button highlighted={page === "index"}> {t(($) => $.index.title)} </Button>
                        </a>
                    </li>
                    <li>
                        <a href={`/${locale}/projects`}>
                            <Button highlighted={page === "projects"}> {t(($) => $.projects.title)} </Button>
                        </a>
                    </li>
                    <li>
                        <a href={`/${locale}/contact`}>
                            <Button highlighted={page === "contact"}> {t(($) => $.contact.title)} </Button>
                        </a>
                    </li>
                    <li class="ml-auto">
                        <a href={localizedPath(locale)}>
                            <Button>{locale === "fr" ? "English" : "Français"}</Button>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class={cn("p-4 max-w-7xl mx-auto my-8", className)}>
            <slot />
        </main>
    </body>
</html>
